* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

section {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
}

.one {
	background-color: #c7202b;
	height: 100vh;
}

.two {
	background-color: #20c72b;
	height: 100vh;
}

.three {
	background-color: #e4e80f;
	height: 100vh;
}

.four {
	background-color: #2528ab;
	height: 100vh;
}

.image {
	width: 100%;
	height: 50%;
	max-width: 500px;
	max-height: 700px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 95vh;
	padding: 0rem calc((100vw - 1300) / 2 );
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding: 0rem 2rem;
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 4rem;
	text-transform: uppercase;
}

.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 2rem;
}

.test {
	height: 100vh;
	width: 100vw;
	background-color: aqua;
	position: absolute;
	top: 400vh;
}

.test-1 {
	height: 100vh;
	width: 100vw;
	background-color: rgb(177, 23, 156);
	position: absolute;
	top: 500vh;
}